* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  margin: 0;
  font-family: -apple-system, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
  overflow-x: hidden;
}

#app{
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(3,110,142,1) 0%, rgba(46,43,47,1) 0%, rgba(11,112,143,0.5480567226890756) 0%, rgba(11,112,143,1) 100%);
  color: white;
  min-height: 100vh;
}

h1 {
  font-size: 25px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

button{
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}


/* marker styling */
.marker-btn{
  background: none;
  border: none;
  cursor: pointer; 
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -20px
  }
}


/* marker popup */
.landmark__popup{
  min-width: 300px;
  min-width: 350px;
  max-width: 450px;
  position: relative;
  >span{
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1rem;
    color: white;
  }
  &__top{
  height: 12rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  position: relative; 
  align-items: center;
  overflow: hidden
  }
  &__img, &__title{
    position: absolute;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    min-height: 100%
  }
  &__img{
    
      filter: brightness(50%);
    
  }
  &__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
    }
    p{
      font-size: 1.3rem;
    }
  }
  &__middle{
    margin: 0.5rem ;
    color: white;
    padding: 0.5rem;
    color: rgb(51, 51, 51);
    >h3{
      color: #8a2626;
    }
    >a{
      color: #d14545;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    *{
      width: 45%;
      padding: 0.6rem;
    }
  }
}

.popup .mapboxgl-popup-content{
  border-radius: 15px;
  padding: 0;
}
.mapboxgl-popup-close-button {
 color: white;
 padding: 10px;
 font-size: 1.2rem;
}

//map containers/settings

.map__container__buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 20rem 0 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  color: rgb(95, 95, 95);
  background-color: #ffffff;
  width: auto;
  z-index: 1000;
  
  >*{
    margin: 0.5rem ;
    color: rgb(95, 95, 95);
  }
  .notifications {
    padding: 0.5rem;
  }
  img{
    width: 25px
  }
  .map__container__user{
    flex:3;
    background: none;
  }
  .mapboxgl-ctrl-group{
    flex:1;
    border: none;
    box-shadow: none;
    background: none;
  }
  .mapboxgl-marker.mapboxgl-user-location-dot{
    position: fixed !important;
  }
}


.new__marker{
  width: 3rem;
 
}


/* sibebar styling */
.map__container{
  display: flex;
  flex-direction: row;
  
    .searchbar{
      position: absolute;
      top: 0;
      right: 0;
    }
}
.button__showLandmark{
  border: none;
  background-color: transparent;
}

.sidebar {
  
  width: 30%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  padding: 1rem 1rem;
  background: #ffffff47;
  &__nav{
    background-color: rgba(243, 243, 243, 0.691);
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    >*{
      width: 25%;
    }
  }
}
.heading {
  color: rgb(54, 54, 54);
  line-height: 60px;
  padding: 0 10px;
  h1{
    font-size: 2.2rem;
  }
}
.btn-new-landmark{
  background: #234A54;
    color: white;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 15px;
    &:hover{
      background: #395c64;
    }
}

.listings {
  overflow: auto;
    height: 85%;
}

.listings .item {
  display: block;
  border: dashed #234A54 2px; 
  margin: 0.5rem;
  padding: 5px;
  text-decoration: none;
  button{
    font-size: 1.2rem;
  }
  p{
    color: #006280;
  }
}


.listings .item .item__title {
  display: block;
  margin: 0.2rem;
  color:  #234A54;
  font-weight: 700;
}
.item__address{
  margin: 0.2rem;
  color: #3f3f3f;
}


.listings .item .item__title small { font-weight: 400; }

.listings .item.active {
  background-color: #f8f8f8;
}

.listings .item:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

::-webkit-scrollbar {
  display: none;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


//create new landmark form
.landmark__container__create-form {
  margin: 3rem 0;
  overflow: auto;
  height: 85%;
  position: relative;
  form{
    display:flex;
    flex-direction: column;
    padding: 2rem;
    .MuiFormControl-root{
      margin:1rem 0;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
      transition: background-color 5000s;
      -webkit-text-fill-color: rgb(41, 41, 41) !important;
}
  } 
  h2{
    margin-top: 1rem;
  }
}
.close__newLandmarkForm{
  font-weight: 700;
}

// .MuiFormLabel-root, .MuiInputBase-root {
//   color: white !important;
// }
// .MuiOutlinedInput-notchedOutline{
//   border-color: white !important;
// }

.MuiInputLabel-outlined.MuiInputLabel-shrink{
  transform: translate(12px, -6px) scale(0.85) !important;
}
.new__marker{
  .pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #EF7B45;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.pulse {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -19px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #89849b;
  animation-delay: 1.1s;
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@-o-keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

}

.newLandmark__uploadImage__container{
  padding: 4rem 1rem;
  form{
    margin:1rem auto;
    input[type=submit]{
      width: auto;
    }
  }
}