body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size: 16px;
  
}


/* marker styling */
.marker-btn{
  background: none;
  border: none;
  cursor: pointer;
}
.marker-btn:active, .marker-btn:active{
  border: none
}

.mapboxgl-marker:active {
  border: none;
}

.marker-btn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -20px;
  margin-top: -20px
}


/* marker popup */
.landmark__popup{
  min-width: 300px;
  min-width: 350px;
}


.landmark__popup__top{
  background: linear-gradient( rgb(0,0,0,0.6), rgb(0,0,0,0.6) );
  background-size: cover;
  position: center center;
  height: 12rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
}

.landmark__popup__middle{
 
  margin: 0.5rem ;
  color: white;
  padding: 0.5rem;
  /* border: dashed #31339e34 2px; */
  color: rgb(51, 51, 51);
}
.landmark__popup__middle>h3{
  color: #8a2626;

}

.landmark__popup__middle>a{
  color: #d14545;
}

.landmark__popup__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}
.landmark__popup__bottom>*{
  width: 45%;
  padding: 0.6rem;
}

.popup .mapboxgl-popup-content{
  border-radius: 15px;
  padding: 0;
}

.mapboxgl-popup-close-button {
 color: white;
 padding: 10px;
 font-size: 1.2rem;
}


/* sidebar */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.pad2 {
  padding: 20px;
}

.map {
  position: absolute;
  left: 450px;
  width: auto;
  top: 0;
  bottom: 0;
}


/* sibebar styling */

.sidebar {
  position: absolute;
  width: 450px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  z-index: 1000;
}
.heading {
  /* background: #d14545; */
  color: rgb(54, 54, 54);
  line-height: 60px;
  padding: 0 10px;
}
.btn-new-landmark{
  background-color: #EEE298;
  color: rgb(102, 102, 102);
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 15px
}

.listings {
  overflow: scroll;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border: dashed #31339e34 2px; 
  margin: 0.5rem;
  padding: 5px;
  text-decoration: none;
}


.listings .item .item__title {
  display: block;
  margin: 0.2rem;
  color: rgb(158, 122, 24);
  font-weight: 700;
}
.item__address{
  margin: 0.2rem;
  color: #3f3f3f;
}


.listings .item .item__title small { font-weight: 400; }

.listings .item.active .item__title,
.listings .item .item__title:hover { color: rgba(158, 122, 24, 0.705); }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
