* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  margin: 0;
  font-family: -apple-system, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
  overflow-x: hidden;
  

  
}
h1 {
  font-size: 25px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

button{
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
}


/* marker styling */
.marker-btn{
  background: none;
  border: none;
  cursor: pointer; 
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -20px
  }
}


/* marker popup */
.landmark__popup{
  min-width: 300px;
  min-width: 350px;
  &__top{
  height: 12rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px 15px 0px 0px;
  position: relative; 
  align-items: center;
  overflow: hidden
  }
  &__img, &__title{
    position: absolute;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    min-height: 100%
  }
  &__img{
    
      filter: brightness(50%);
    
  }
  &__title{
    h2 {
      font-size: 2rem;
    }
    p{
      font-size: 1.3rem;
    }
  }
  &__middle{
    margin: 0.5rem ;
    color: white;
    padding: 0.5rem;
    color: rgb(51, 51, 51);
    >h3{
      color: #8a2626;
    }
    >a{
      color: #d14545;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    *{
      width: 45%;
      padding: 0.6rem;
    }
  }
}

.popup .mapboxgl-popup-content{
  border-radius: 15px;
  padding: 0;
}
.mapboxgl-popup-close-button {
 color: white;
 padding: 10px;
 font-size: 1.2rem;
}


/* sibebar styling */

.sidebar {
  position: absolute;
  width: 350px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  z-index: 1000;
  padding: 3rem 1rem;
}
.heading {
  color: rgb(54, 54, 54);
  line-height: 60px;
  padding: 0 10px;
  h1{
    font-size: 2.2rem;
  }
}
.btn-new-landmark{
  background-color: #EEE298;
  color: rgb(102, 102, 102);
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 15px
}

.listings {
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  display: block;
  border: dashed #31339e34 2px; 
  margin: 0.5rem;
  padding: 5px;
  text-decoration: none;
}


.listings .item .item__title {
  display: block;
  margin: 0.2rem;
  color: rgb(158, 122, 24);
  font-weight: 700;
}
.item__address{
  margin: 0.2rem;
  color: #3f3f3f;
}


.listings .item .item__title small { font-weight: 400; }

.listings .item.active .item__title,
.listings .item .item__title:hover { color: rgba(158, 122, 24, 0.705); }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
