.ldetails__container{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    text-align: left; 
    color: rgb(77, 77, 77);

    &__logo{
        height: 100vh;
        width: 6rem;
        position: fixed;
        box-shadow: rgb(185, 185, 185) 5px 0px 15px;
    }
    &__path{
        color: #8f4748;
        margin: 3rem 0;
        a{
            font-weight: 700;
            color: #8f4748;
        }
    }
    &__landmark{
        padding: 3rem 6rem;
        width: 70%;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            padding: 0;
            display: flex;
            flex-direction: row;
        }
        li{
            list-style: none;
            padding: 1rem 3rem 1rem 0;
            
        }
    }
    &__userInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    &__notifications{
        color: rgb(104, 104, 104);
        padding: 1rem 3rem;
        position: relative;
        
    }
    .notification.shown{
        text-align: center;
        display: block;
        position: absolute;
        bottom:0;
        right: 24%;
        min-height: 300px;
        min-width: 350px;
        z-index: 2;
        box-shadow: rgb(185, 185, 185) 0px 10px 15px;
        background-color: #f5f5f5;
        border-radius: 10px;
        top:100%;
        .dropdown__header{
            z-index: 1;
            min-height: 10px;
            min-width: 10px;
            padding: 0.5rem;
            background-color: #e6e6e6;
            border-radius: 10px 10px 0 0;
            h2{
                color: #8f4748
            }
        }
        .triangle{
            position: absolute;
            top: -8px;
            right: 20px;
            height: 15px;
            width: 15px;
            border-radius: 6px 0px 0px 0px;
            transform: rotate(45deg);
            background-color: #e6e6e6;
        }
        .notifications__body{
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul li {
                border-bottom: #8f47488a solid 1px;
                padding: 0
            } 
        }
    }
    .notification.hidden{
        display: none;
    }

    &__data{
        margin-top: 2rem;
        p{
            line-height: 1.7rem;
            margin: 1rem 0 0;
            text-align: justify;
           
        }
    }
    &__titleColumn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 2rem;
            margin: 0.2rem 0;
            color: rgb(134, 65, 1);
        }    
        .container__actions{
            display: flex;
            flex-direction: row;
            flex: 2;
            justify-content: flex-end;
            button{
                background-color: #FFF7F0;
            }
        }
    }
    &__title{
        display: flex;
        flex-direction: row;
        flex: 6;
        img{
            width: 15px;
            margin: -0.5rem 0.5rem 0; 
        }
    }
    &__buttons{
        padding:0 15px;
        >*{
            margin: 0 1rem;
        }
        .ui.menu{
            border: none;
            box-shadow: none;
            .active.item{
                background: none;
            }
            .dropdown.item:hover{
                background: none;
            }
        }
    }
    &__tracking{
        color: rgb(75, 75, 75);
        &.track{
            background-color: #8f4748;
            color: white
        }
        &.tracked{
            background-color: #83b377;
        }
    }
    &__images{
        background-color: white;
        max-width: 100%;
        box-shadow: rgb(185, 185, 185) 0px 8px 15px;
        padding:1rem 2rem 2rem;
        margin: 2rem 0;
        >div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
        .gallery-item {
            width: 28%;
            margin: 1rem;
            overflow: hidden;
        }
        .gallery-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 400ms ease-out;
        }
        
        .gallery-image:hover {
            transform: scale(1.15);
        }
    }
    &__extra{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 1rem 2rem;
        text-align: center;
        div{
            width: 30%;
            color: rgba(95, 67, 2, 0.644);
            padding: 10px 0;
            span{
                font-weight: 700;
            }
        }
    }
    &__line{
        border: dashed #31339e34 1px;
    }
    &__comments{
        max-width: 80%;
        box-shadow: rgb(185, 185, 185) 0px 8px 15px;
        padding:4rem 3rem ;
        margin: 4rem auto;
        .comment > .content {
            margin-bottom: 1rem;
        }
        .ui.comments{
            margin: 0 0 0em 0.5rem !important;
            padding: 0.5em 0 0.5em 01em !important;
        }
        .ui.form textarea{
            background-color: rgba(255, 255, 255, 0.322);
            
            &::placeholder{
                color:white;
            }
        }
        .ui.button{
            background-color: transparent;
            border-radius: 20px;
            border: 2px solid #eb8e8f;
            color: #8f4748;
        }
        textarea{
           
                resize: none;
            
        }
    }
}

.editLandmark{
    width: 40rem;
}
.form__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.ldetails__container .sidebar {
    left: auto;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 10;
    box-shadow: #036E8E -5px 0px 15px;
}

.userButton{
    padding: 1rem;
    border: none;
    border-radius: 10px;
    height: fit-content;
    img{
        width: 4rem;
    }
}

button{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}


// upload Images container

.uploadImage__events{
    margin: 4rem auto;
    text-align: center;
    padding: 4rem ;
    width: 35rem;
    box-shadow: rgb(185, 185, 185) -5px 0px 15px;
    background-color: rgb(236, 236, 236);
    form{
        width: 100%;
    }
    input[type=submit]{
        width: auto;
    }
}

.file__upload__input{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    input[type=file]{
        width: 16rem;
        margin: 0 auto 1rem;
    }
    input{
        margin-bottom: 1rem;
    }
}


// create a new event form 
.event__container__create-form{
    margin: 4rem auto;
    padding: 4rem ;
    width: 35rem;
    background-color: rgb(236, 236, 236);
    h2{
        text-align: center;
    }
    label{
        width: 100%;
    }
    form{
        display: flex;
        flex-direction: column;
        >*{
            margin: 1rem 0rem;
        }
    }
    input[type="submit"]{
        border-radius: 20px;
        border: none;
        background-color: #234A54;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        width: 10rem;
        margin: auto;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

.activeLink div{
    background-color: #f6e9e9;
}

// comment section

.reply_form{
    &.hidden{
        display: none;
    }
    &.show{
        display: block;
    }
}

.logout__icon{
    width: 20px;
}
p.login__required__text{
    margin: 1rem;
    text-align: center;
}

span.login__required {
    color: #eb8e8f;
}

// loader component
.loader__container{
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}