.container__profile{
    padding: 1rem 4rem;
    section{
        margin: 4rem 0;
        >div{
            padding: 2rem;
        }
    }
    main{
        margin: 2rem 0;
    }
    &__content { 
        width: 100%;   
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__main{
        width: 65%;
        margin-bottom: 4rem;
        .landmarks__titles{
            display: flex;
            flex-direction: row;
            .title{
                margin: 0 1rem;
                color: #8f4748;
            }
        }
    }
    &__userSection{
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        border-right: 2px #036E8E solid;
        .image__edit{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            line-height: 50px;
            position: absolute;
            bottom: -25px;
            left: calc(50% - 25px);
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 30px;
                opacity: 0.5;
            }

        }
    }
    &__userInfo {
    text-align:left;
    flex: 6;
        h1{
            color: #EF7B45;
            font-size: 4rem;
            margin-bottom: 1rem;  
        }
    }
    &__userImg{
        width: 200px;
        height: 200px;
        padding: 0 !important;
        position: relative;
        flex: 3;
        img{
            width: 200px;
        }
    }
    &__userInfoDiv{
        display: flex;
        flex-direction: row;
        >*{
            padding-right:1.5rem ;
        }
    }
    &__aside {
        width: 30%;
        position: sticky;
        top: 4rem;
        max-height: 70vh;
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            padding: 0;
            display: flex;
            flex-direction: row;
        }
        li{
            list-style: none;
            font-size: 1.3rem;
            padding: 1rem 3rem 1rem 0; 
            a{
                font-size: 1.3rem;
                color: white;
                &.active__navItem{
                    color: #EF7B45;
                }
            }
        }
    }
    &__user{
        display: flex;
        flex-direction: row;
    }
    &__bottom{
        margin-top: 1rem;
        padding: 2rem;
        box-shadow: none !important;
        h3{
            color: #FFF7F0;
        }
    }
    &__landmarks{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        overflow-x: auto; 
        box-shadow: #036E8E 0px 8px 15px;
        position: relative;
      
        .content {
          white-space: nowrap;
          overflow-x: scroll;
          overflow-y: hidden;
          position: relative;
        }

        
        ::-webkit-scrollbar {
            display: block;
        }
        .landmarks_listings{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .landmark__item{
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                background-color: #b5c7dcbf;
                width: 80%;
                p{
                    margin: 0;
                    color: #003848;
                    font-size: 1.2rem;
                }

            }
            .landmark__item:nth-child(odd){
                    background: #a8c1d429;
                }
            }
        
    }
    &__allLandmarks{
        overflow-x: auto;
        position: relative;
        margin-top: 2rem;
      
        .content {
            display: flex;
        flex-direction: row;
          white-space: nowrap;
          overflow-x: scroll;
          overflow-y: hidden;
          position: relative;
          ::-webkit-scrollbar {
            display: block;
        }
        }
    }
    
    &__landmarkContainer{
        width: 19rem;
        flex: 0 0 auto;
        margin: 2rem;
        box-shadow: #036E8E 0px 8px 15px;
        background-color: #ffffff8c;
        color: #234A54;
        border-radius: 15px;
        
        .bottom {
            padding: 1rem 0.5rem;
            color: #234A54;
        }
    }
    &__landmarks{
        overflow-x: auto;
        display: flex;
        position: relative;
        background-color: #cddce2;
        .arrow{
            position: absolute;
            right: 0;
            top: 50%
        }
    }
    &__notifications{
        background-color: #cddce2;
        overflow: auto;
        max-height: 60vh;
        box-shadow: #036E8E 0px 8px 15px;
        .listings{
            max-height: 50vh;
        }
    }
}

.profile__section__title{
    text-align: left;
    line-height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0rem;
    color: #8f4748;
}

.container__actions{
    flex: 1;
    padding-right: 0 !important;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .edit{
        button{
            background-color: rgba(255, 255, 255, 0.315);
            border-radius: 50%;
            &:hover{
                background-color: rgba(255, 255, 255, 0.596);
                border-radius: 50%;
                zoom: 1.1;
            }
        }
        img{
            width: 20px;

            opacity: 0.5;
        }
    }
}

.formPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    h2{
        text-align: center;
    }
  }
  .formPopup__container {
    background-color: #3d788a;
    padding: 3rem 4rem;
    position: relative;
    form{
        display: flex;
        min-width: 25rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >*{
            margin: 0.5rem 0rem;
            width: 70%;
        }
        
    }
    .close{
        position:absolute;
        top: 0.5rem;
        right: 0.5rem;
        font-size: 2rem;
    }
    textarea{
        height: 96px;
    background: transparent;
    border: white solid 1px;
    color: white;
    border-radius: 3px;
    padding: 9px;
    }
  }
  
  input[type=submit]{
    border-radius: 20px;
    border:none;
    background-color:  #234A54;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    width: 10rem;
    margin: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    &:hover{
        background-color:  #305b66;
    }
  }